body{
  background: linear-gradient(180deg, #f2dddc 0%, #b3b3cc 100%);
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
      line-height: 1.5;
    text-align: center;
    color: #000;
}
h2{
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.5;
    color: #f52865;
}
